body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background-image: url(img/sai.jpeg);
    background-size: cover;
    backdrop-filter: blur(10px);
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#header {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 3px black;
}

#header p {
    margin: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 2px black;
    color: white;
    text-shadow: rgb(169, 4, 4) 0 0 10px;
    
}

#footer {
    text-align: center;
}

#main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}
#container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height: 500px;
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.3), 0 12px 40px 0 rgba(255, 0, 0, 0.3);
    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.clicked {
    background-color: black;
}