body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

#header {
    align-self: center;
}

#footer {
    align-self: center;
}

#main {
    flex: 1;
    background-image: url(img/sai.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: aqua;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.clicked {
    background-color: black;
}